In [170]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from requests import get
from random import randint
from time import sleep
from bs4 import BeautifulSoup

In [183]:
"""My stab at pulling information from the actual IMDb website. title works but rating_find errors out to a blank list, or to just 4 ratings instead of all 930"""
pages = np.arange(1,1001,250)
title = []
rating = []
def webpageScraper():
    for page in pages:
        html = 'https://www.imdb.com/search/title/?release_date=1950-01-01,2020-12-31&groups=top_1000&sort=alpha,asc&count=250&start=' +str(page) +'&ref_=adv_nxt'
        response = get(html)
        html_soup = BeautifulSoup(response.text, 'html.parser')
        name_find = html_soup.find('div',class_ ='lister-list')
        rating_find = html_soup.find('p', class_ = 'text-muted')
        title_name = [h3.find('a').text for h3 in name_find.findAll('h3')]
        #rating = [p.find('span').text for p in rating_find.find('p')] #sets rating to an empty list or noneType have to look more into this... trying to pull the maturity rating for each movie 
        for name in title_name:
            title.append(name)
        sleep(randint(0,3))

In [184]:
"""using above function to pull everything. works but like commented above cant pull the ratings"""
webpageScraper()

TypeError: 'NoneType' object is not iterable

In [145]:
"""pulled all files from zip folder and put into dataframes"""

titles_df = pd.read_csv('Zipped_files/IMDb movies.csv')
names_df = pd.read_csv('Zipped_files/IMDb names.csv')
ratings_df = pd.read_csv('Zipped_files/IMDb ratings.csv')
title_principles_df = pd.read_csv('Zipped_files/IMDb title_principals.csv')

In [155]:
"""set each of the index's to make it easier for me to pull into one dataframe. commented out some to test that it was working
before finishing setting all index's"""
#ratings_df.set_index('imdb_title_id', inplace = True)
title_principles_df.set_index('imdb_name_id', inplace = True)
#titles_df.set_index('imdb_title_id', inplace = True)
#names_df.set_index('imdb_name_id', inplace = True)

In [156]:
"""making sure the heads are correct and set to right index"""
display(names_df.head())
title_principles_df.head()

,name,birth_name,height,bio,birth_details,birth_year,date_of_birth,place_of_birth,death_details,death_year,date_of_death,place_of_death,reason_of_death,spouses,divorces,spouses_with_children,children,primary_profession,known_for_titles
imdb_name_id,,,,,,,,,,,,,,,,,,,
nm0000001,Fred Astaire,Frederic Austerlitz Jr.,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...","May 10, 1899 in Omaha, Nebraska, USA",1899.0,1899-05-10,"Omaha, Nebraska, USA","June 22, 1987 in Los Angeles, California, USA ...",1987.0,1987-06-22,"Los Angeles, California, USA",pneumonia,2,0,1,2,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0043044"
nm0000002,Lauren Bacall,Betty Joan Perske,174.0,Lauren Bacall was born Betty Joan Perske on Se...,"September 16, 1924 in The Bronx, New York City...",1924.0,1924-09-16,"The Bronx, New York City, New York, USA","August 12, 2014 in New York City, New York, US...",2014.0,2014-08-12,"New York City, New York, USA",stroke,2,1,2,3,"actress,soundtrack","tt0037382,tt0038355,tt0117057,tt0071877"
nm0000003,Brigitte Bardot,Brigitte Bardot,166.0,"Brigitte Bardot was born on September 28, 1934...","September 28, 1934 in Paris, France",1934.0,1934-09-28,"Paris, France",NaN,NaN,NaN,NaN,NaN,4,3,1,1,"actress,soundtrack,producer","tt0054452,tt0059956,tt0057345,tt0049189"
nm0000004,John Belushi,John Adam Belushi,173.0,"John Belushi was born in Chicago, Illinois, US...","January 24, 1949 in Chicago, Illinois, USA",1949.0,1949-01-24,"Chicago, Illinois, USA","March 5, 1982 in Hollywood, Los Angeles, Calif...",1982.0,1982-03-05,"Hollywood, Los Angeles, California, USA",acute cocaine and heroin intoxication,1,0,0,0,"actor,writer,soundtrack","tt0078723,tt0072562,tt0080455,tt0077975"
nm0000005,Ingmar Bergman,Ernst Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...","July 14, 1918 in Uppsala, Uppsala län, Sweden",1918.0,1918-07-14,"Uppsala, Uppsala län, Sweden","July 30, 2007 in Fårö, Gotlands län, Sweden",2007.0,2007-07-30,"Fårö, Gotlands län, Sweden",NaN,5,4,5,8,"writer,director,actor","tt0050976,tt0083922,tt0069467,tt0050986"

              ordering  category  job         characters
imdb_name_id
nm0846887            1   actress  NaN     ["Kate Kelly"]
nm0846894            2     actor  NaN  ["School Master"]
nm3002376            3     actor  NaN     ["Steve Hart"]
nm0170118            4   actress  NaN                NaN
nm0846879            5  director  NaN                NaN

In [157]:
full_movie_db = titles_df.join(ratings_df, how = 'inner')
full_name_db = names_df.join(title_principles_df, how = 'inner')

In [158]:
full_movie_db.columns
full_name_db.columns

Index(['name', 'birth_name', 'height', 'bio', 'birth_details', 'birth_year',
       'date_of_birth', 'place_of_birth', 'death_details', 'death_year',
       'date_of_death', 'place_of_death', 'reason_of_death', 'spouses',
       'divorces', 'spouses_with_children', 'children', 'primary_profession',
       'known_for_titles', 'ordering', 'category', 'job', 'characters'],
      dtype='object')

In [169]:
#full_name_db.set_index('known_for_titles', inplace = True)
#full_movie_db.join(full_name_db, how = 'outer')
full_movie_db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81273 entries, tt0000574 to tt9914286
Data columns (total 69 columns):
title                        81273 non-null object
original_title               81273 non-null object
year                         81273 non-null int64
date_published               81273 non-null object
genre                        81273 non-null object
duration                     81273 non-null int64
country                      81234 non-null object
language                     80518 non-null object
director                     81200 non-null object
writer                       79780 non-null object
production_company           76948 non-null object
actors                       81207 non-null object
description                  78843 non-null object
avg_vote                     81273 non-null float64
votes                        81273 non-null int64
budget                       22804 non-null object
usa_gross_income             15094 non-null object
worlwide_gross_income        29892 non-null object
metascore                    12722 non-null float64
reviews_from_users           74196 non-null float64
reviews_from_critics         70286 non-null float64
weighted_average_vote        81273 non-null float64
total_votes                  81273 non-null int64
mean_vote                    81273 non-null float64
median_vote                  81273 non-null float64
votes_10                     81273 non-null int64
votes_9                      81273 non-null int64
votes_8                      81273 non-null int64
votes_7                      81273 non-null int64
votes_6                      81273 non-null int64
votes_5                      81273 non-null int64
votes_4                      81273 non-null int64
votes_3                      81273 non-null int64
votes_2                      81273 non-null int64
votes_1                      81273 non-null int64
allgenders_0age_avg_vote     26543 non-null float64
allgenders_0age_votes        26543 non-null float64
allgenders_18age_avg_vote    80858 non-null float64
allgenders_18age_votes       80858 non-null float64
allgenders_30age_avg_vote    81264 non-null float64
allgenders_30age_votes       81264 non-null float64
allgenders_45age_avg_vote    81160 non-null float64
allgenders_45age_votes       81160 non-null float64
males_allages_avg_vote       81272 non-null float64
males_allages_votes          81272 non-null float64
males_0age_avg_vote          20339 non-null float64
males_0age_votes             20339 non-null float64
males_18age_avg_vote         80217 non-null float64
males_18age_votes            80217 non-null float64
males_30age_avg_vote         81264 non-null float64
males_30age_votes            81264 non-null float64
males_45age_avg_vote         81120 non-null float64
males_45age_votes            81120 non-null float64
females_allages_avg_vote     81203 non-null float64
females_allages_votes        81203 non-null float64
females_0age_avg_vote        15333 non-null float64
females_0age_votes           15333 non-null float64
females_18age_avg_vote       76239 non-null float64
females_18age_votes          76239 non-null float64
females_30age_avg_vote       80409 non-null float64
females_30age_votes          80409 non-null float64
females_45age_avg_vote       78701 non-null float64
females_45age_votes          78701 non-null float64
top1000_voters_rating        80667 non-null float64
top1000_voters_votes         80667 non-null float64
us_voters_rating             81034 non-null float64
us_voters_votes              81034 non-null float64
non_us_voters_rating         81269 non-null float64
non_us_voters_votes          81269 non-null float64
dtypes: float64(41), int64(14), object(14)
memory usage: 45.9+ MB