In [1]:
import pandas as pd

In [2]:
"""import movie file with budget info"""
df_budget = pd.read_csv('tn.movie_budgets.csv.gz') # get the data for budget of movies
df_scraped = pd.read_csv('All_movies_year_1990-2020.csv')
df_budget.rename(columns = {'movie': 'Title'}, inplace=True) # rename the movie column to title so it can be used as an index for joining 
df_budget.set_index('Title',inplace=True) # set the name as index

In [3]:
"""Clean budget data"""
df_budget['production_budget'] = df_budget['production_budget'].apply(lambda x: x.strip('$').replace(",","")) #Clean currency string   
df_budget['production_budget'] = df_budget['production_budget'].astype(float)/1000000 # Convert to integer and change the amount into millions

In [4]:
type(df_budget['production_budget'][0])# check to see if amount is numeric

numpy.float64

In [5]:
fulldf = pd.merge(df_scraped,df_budget['production_budget'],on ='Title') # add the budget column and release date to df_scraped
   
fulldf.rename(columns = {'production_budget':'Budget'}, inplace = True) # rename production budget to Budget

In [6]:
fulldf['Profit_percent'] = ((fulldf['Gross Income'] - fulldf['Budget'] )/fulldf['Budget'])*100

In [8]:
fulldf.to_csv("fulldf2.csv",index=False) # save this df as an excel file

In [7]:
#dff=df.groupby('Movie Genre').count()
#print(dff[dff.Title == dff.Title.max()]) 

fulldf

,Unnamed: 0,Title,Movie Rating,Year,Gross Income,Movie Genre,Movie Runtime,IMDb Rating,Votes,Budget,Profit_percent
0,19,10 Cloverfield Lane,PG-13,2016,72.08,"Drama,Horror,Mystery",103,7.2,281319.0,5.0,1341.600000
1,20,10 Days in a Madhouse,R,2015,0.01,Drama,111,6.3,956.0,12.0,-99.916667
2,22,10 Things I Hate About You,PG-13,1999,38.18,"Comedy,Drama,Romance",97,7.3,287984.0,13.0,193.692308
3,35,102 Dalmatians,G,2000,66.96,"Adventure,Comedy,Family",100,4.9,33907.0,85.0,-21.223529
4,38,10th & Wolf,R,2006,0.05,"Crime,Drama,Thriller",107,6.3,6043.0,8.0,-99.375000
...,...,...,...,...,...,...,...,...,...,...,...
2236,9967,Over Her Dead Body,PG-13,2008,7.56,"Comedy,Fantasy,Romance",95,5.2,23580.0,10.0,-24.400000
2237,9969,Over the Hedge,PG,2006,155.02,"Animation,Adventure,Comedy",83,6.7,155742.0,80.0,93.775000
2238,9972,Overboard,PG-13,2018,50.32,"Comedy,Romance",112,6.0,32408.0,12.0,319.333333
2239,9993,P.S. I Love You,PG-13,2007,53.70,"Comedy,Drama,Romance",126,7.0,197433.0,30.0,79.000000
2240,9997,PCU,PG-13,1994,4.35,Comedy,79,6.6,11805.0,9.0,-51.666667